@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --v-font-family: 'Poppins', sans-serif !important;
}

html, body, .v-application {
  font-family: 'Poppins', sans-serif !important;
}

/* Força a fonte em todos os componentes de input e botões do Vuetify */
.v-btn, 
.v-card-title, 
.v-card-text, 
.v-text-field, 
.v-data-table,
.v-list-item-title {
  font-family: 'Poppins', sans-serif !important;
}